.markdown {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  & img {
    max-width: 100%;
  }

  & p,
  & h1,
  & h2,
  & h3,
  & h4,
  & ol,
  & ul,
  & blockquote {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* https://github.com/kepano/obsidian-minimal/blob/master/src/css/main.css */
  & h1 {
    font-size: 1.125em;
    font-weight: 600;
  }
  & h2 {
    font-size: 1.05em;
    font-weight: 600;
  }
  & h3 {
    font-size: 1em;
    font-weight: 500;
  }
  & h4 {
    font-size: 0.9em;
    font-weight: 500;
  }
  & h5 {
    font-size: 0.85em;
    font-weight: 500;
  }
  & h6 {
    font-size: 0.85em;
    font-weight: 400;
  }

  & br {
    font-weight: 600;
  }

  & blockquote {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    border-left: 2px solid var(--adm-color-primary);
    padding: 0 12px;
  }

  & ul,
  & ol {
    padding-inline-start: 2em;
  }

  & code {
    color: var(--adm-color-primary);
    background: var(--adm-color-box);
    padding: 0 0.5em;
  }

  & pre {
    background: var(--adm-color-box);
    text-wrap: wrap;

    & code {
      color: var(--adm-color-text);
    }
  }
}
