.messages {
  height: 100%;
  overflow: scroll;
}

.message {
  background-color: #1f7efc;
  border-radius: 8px;
  color: white;
  margin-bottom: 8px;
  padding: 8px;
  max-width: 70%;
  word-wrap: break-word;
  align-self: flex-end;
}
