.messages {
  height: 100%;
  overflow: scroll;
  padding: 8px;
}

.messages ::-webkit-scrollbar {
  display: none;
}

.message {
  background-color: #1f7efc;
  border-radius: 8px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  color: rgb(64, 64, 64);
  white-space: pre-wrap;
  background: #ffffff;
  border: 1px solid #eeeeee;
  margin-bottom: 8px;
}

.icon-left {
  transform: translateX(-6px);
}

.time {
  color: #999999;
  line-height: 14px;
  font-size: 12px;
}
